img{
    object-fit: cover;
}
.bg-whatsapp{
    background-color: #1baa1b;
}

@media screen and (min-width: 1024px) {
    .last-img-height{
        height: 487px;
    }
    .last-left-img-height{
        height: 241px;
    }
    .news-block1-left-img{
        height: 82px;
    }
    .news-block6-img{
        height: 310px;
    }
    .footer-img-wi{
        height: 82px;
    }

}
@media (min-width: 992px) and (max-width: 1024px) {
    .last-img-height{
        height: 401px;
    }
    .last-left-img-height{
        height: 188px;
    }
    .news-block1-left-img{
        height: 62px;
    }
    .news-block6-img{
        height: 240px;
    }
    .footer-img-wi{
        height: 77px;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .last-img-height{
        height: 307px;
    }
    .last-left-img-height{
        height: 149px;
    }
    .news-block1-left-img{
        height: 105px;
    }
    .news-block6-img{
        height: 282px;
    }
    .footer-img-wi{
        height: 101px;
    }

}
@media screen and (max-width: 768px) {
    .last-img-height{
        height: 311px;
    }
    .last-left-img-height{
        height: 150px;
    }
    .news-block1-left-img{
        height: 53px;
    }
    .news-block6-img{
        height: 270px;
    }
    .footer-img-wi{
        height: 77px;
    }

}