img {
    object-fit: cover;
}

.bg-whatsapp {
    background-color: #1baa1b;
}
.weather-img {
    -webkit-box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.2);
    background-color: #ff0000;
    padding: 2px;
    border-radius: 6px;
}
.remove-hover:hover{
    color: #ffffff !important;
}
.weather-img img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    border-radius: 8px; 
}

blockquote {
    padding: 16px 24px 1px;
    background: #ff00001a;
    border-left: 4px solid #ff0000;
    border-radius: 0 5px 5px 0;
}
.weather-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.weather-header {
    margin-bottom: 10px; 
}

.weather-details {
    display: flex;
    align-items: center;
    gap: 10px; 
}
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-content-between{
    justify-content: space-between;
}
.news-hourse{
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
    padding-bottom: 4px;
}
.block-title-4 .title-new-arrow:before{
    content: "";
    width: 2.5rem;
    height: 2px;
    position: absolute;
    top: 2.25rem;
    background: #4f46e5;
}
.align-center{
    align-items: center;
}
.w-100{
    width: 100%;
}
.news-moon{
    font-size: 12px;
}

.weather-img img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.weather-time {
    padding: 10px; 
}

.gap-15 {
    margin-bottom: 15px;
}
.share-left-title {
    padding: 10px 0 10px 10px;
}

.header {
    z-index: 1000;
}

[data-pc-direction="rtl"] .share-btn-rtl {
    text-align: left !important;
}

[data-pc-direction="rtl"] .jucstin-strart {
    display: flex;
    justify-content: start;
    padding-right: 6px;
}

[data-pc-direction="rtl"] .tote-text-left {
    text-align: start;
}

.box {
    margin: 0 auto;
    color: #6d0ee9;
    overflow: hidden;
    padding: 10px;
    white-space: nowrap;
}

.box ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.box li {
    list-style: none;
    margin-right: 20px;
}

.scrol-with {
    width: 150px;
}

.adfox-banner-background {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0px;
}

.advertise-news {
    background-position: 50% 0px;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    width: 100%;
    image-rendering: auto
}

@media screen and (min-width: 1024px) {
    .last-img-height {
        height: 487px;
    }

    .last-left-img-height {
        height: 241px;
    }

    .news-block1-left-img {
        height: 82px;
    }

    .news-block6-img {
        height: 310px;
    }

    .footer-img-wi {
        height: 82px;
    }

    .view-focus-img {
        height: 252px;
    }

    .float-icon {
        width: 33px;
        margin: 10px 0;
        height: 33px;
    }

    .share-position {
        position: sticky;
        top: 0;
        float: left;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

}

@media (min-width: 992px) and (max-width: 1024px) {
    .last-img-height {
        height: 401px;
    }

    .last-left-img-height {
        height: 188px;
    }

    .news-block1-left-img {
        height: 62px;
    }

    .news-block6-img {
        height: 240px;
    }

    .footer-img-wi {
        height: 77px;
    }

    .view-focus-img {
        height: 207px;
    }

    .share-position {
        position: sticky;
        top: 0;
        float: left;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .float-icon {
        width: 33px;
        margin: 10px 0;
        height: 33px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .last-img-height {
        height: 307px;
    }

    .last-left-img-height {
        height: 149px;
    }

    .news-block1-left-img {
        height: 105px;
    }

    .news-block6-img {
        height: 282px;
    }

    .footer-img-wi {
        height: 101px;
    }

    .view-focus-img {
        height: 158px;
    }

    .share-position {
        position: sticky;
        top: 0;
        float: left;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .float-icon {
        width: 33px;
        margin: 10px 0;
        height: 33px;
    }

}

@media screen and (max-width: 768px) {
    .last-img-height {
        height: 311px;
    }

    .last-left-img-height {
        height: 150px;
    }

    .news-block1-left-img {
        height: 53px;
    }

    .news-block6-img {
        height: 270px;
    }

    .footer-img-wi {
        height: 77px;
    }

    .view-focus-img {
        height: 370px;
    }

    .article-view iframe {
        width: 100%;
    }

    .float-icon {
        width: 33px;
        margin: 0 10px;
        height: 33px;
    }

    .sm-display {
        display: flex;
        align-items: center;
    }

    .spider-sm-text {
        font-size: 10px;
    }

    .focus-sm-font {
        font-size: 10px !important;
        line-height: 1rem !important;
    }

    .scrol-with {
        width: 120px;
    }

}